<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ecomail_config" translate="label" sortOrder="9999">
            <label>Ecomail</label>
        </tab>
        <section id="ecomail_options" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Konfigurace</label>
            <tab>ecomail_config</tab>
            <resource>Ecomail_Ecomail::ecomail_config</resource>
            <group id="properties" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Nastavení</label>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vložte Váš API klíč</label>
                </field>
                <field id="list_id" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vyberte list:</label>
                    <comment>Vyberte list do kterého budou zapsáni noví zákazníci</comment>
                    <source_model>Ecomail\Ecomail\Model\OptionsListId</source_model>
                </field>
                <field id="app_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vložte Vaše appId</label>
                    <comment>Tento údaj slouží pro aktivaci funkce Trackovací kód</comment>
                </field>
            </group>
        </section>
    </system>
</config>