<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ecomail" translate="label" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ecomail</label>
            <tab>customer</tab>
            <resource>Ecomail_Ecomail::ecomail_configuration</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="status" type="button" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Status</label>
                    <frontend_model>Ecomail\Ecomail\Block\System\Config\Form\Field\Status</frontend_model>
                </field>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" type="obscure" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>API Key</label>
                    <validate>required-entry</validate>
                    <backend_model>Ecomail\Ecomail\Model\Config\Backend\ApiKey</backend_model>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                </field>
                <field id="subscriber_list" type="select" translate="label comment" sortOrder="30" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Subscriber List</label>
                    <comment>Choose a subscriber list from your Ecomail account. Please note it can take up to 30 minutes for the newly created list to be available.</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                    <source_model>Ecomail\Ecomail\Model\Config\Source\SubscriberList</source_model>
                </field>
                <field id="load_subscriber_lists" type="button" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <frontend_model>Ecomail\Ecomail\Block\System\Config\Form\Field\Subscriber\LoadLists</frontend_model>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                </field>
                <field id="skip_double_optin" type="select" translate="label" sortOrder="50" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Skip Double opt-in</label>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="trigger_autoresponders" type="select" translate="label comment" sortOrder="60" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Trigger Autoresponders</label>
                    <comment>Runs automated campaigns after adding a new subscription.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_existing" type="select" translate="label comment" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Allow initial sync</label>
                    <comment>Safety switch for syncing existing customers and orders. Enable this before starting a sync job.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_update_existing" type="select" translate="label comment" sortOrder="72" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Update existing contacts during initial sync</label>
                    <comment>If enabled, Ecomail contacts that already exist in the selected list may be updated by the initial sync.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/general/sync_existing">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_include_tags" type="select" translate="label comment" sortOrder="74" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send tags during initial sync</label>
                    <comment>Sends magento and magento_newsletter tags. If Customer groups to tags is enabled, it also sends the customer group tag. Warning: Ecomail can replace all tags on existing contacts.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/general/sync_existing">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_customer_batch_size" type="select" translate="label comment" sortOrder="75"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Subscriber sync batch size</label>
                    <comment>Maximum 3000 subscribers per Ecomail request. Subscribers above this limit are ignored by Ecomail.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/general/sync_existing">1</field>
                    </depends>
                    <source_model>Ecomail\Ecomail\Model\Config\Source\SubscriberBatchSize</source_model>
                </field>
                <field id="sync_order_batch_size" type="select" translate="label comment" sortOrder="76"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Transaction sync batch size</label>
                    <comment>Maximum 1000 transactions per Ecomail request. Bulk transaction imports do not trigger automations with the Makes an order trigger.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/general/sync_existing">1</field>
                    </depends>
                    <source_model>Ecomail\Ecomail\Model\Config\Source\TransactionBatchSize</source_model>
                </field>
                <field id="sync_tools" type="label" translate="label" sortOrder="77" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Initial Sync</label>
                    <frontend_model>Ecomail\Ecomail\Block\System\Config\Form\Field\InitialSync</frontend_model>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/general/sync_existing">1</field>
                    </depends>
                </field>
                <field id="webhook_token" type="text" translate="label comment" sortOrder="80" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Webhook Token</label>
                    <comment>Secret value used to protect inbound subscription status updates.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                </field>
                <field id="webhook_tools" type="label" translate="label" sortOrder="85" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Webhook URL</label>
                    <frontend_model>Ecomail\Ecomail\Block\System\Config\Form\Field\Webhook</frontend_model>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                </field>
                <field id="checkout_opt_out_label" type="text" translate="label comment" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Checkout opt-out text</label>
                    <comment>Text shown next to the checkout checkbox. Maximum length: 160 characters.</comment>
                    <validate>validate-length maximum-length-160</validate>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="personal_information" translate="label comment" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Personal Information</label>
                <comment>Choose which information should be shared with Ecomail.</comment>
                <depends>
                    <field id="ecomail/general/enabled">1</field>
                </depends>
                <field id="send_name" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Customer name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_address" type="select" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Customer address</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="address_type" type="select" translate="label" sortOrder="25" showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Address type</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/personal_information/send_address">1</field>
                    </depends>
                    <source_model>Ecomail\Ecomail\Model\Config\Source\Address</source_model>
                </field>
                <field id="send_dob" type="select" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Customer DOB</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_orders" type="select" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Send order transactions</label>
                    <comment>Send completed Magento orders as Ecomail transactions.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_contacts_from_orders" type="select" translate="label comment" sortOrder="45"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Update contacts from order data</label>
                    <comment>Use customer details from new orders to create or update Ecomail contacts.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_cart_items" type="select" translate="label comment" sortOrder="50" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Cart items</label>
                    <comment>Cart items will be sent to Ecomail to support abandoned cart features.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_groups" type="select" translate="label comment" sortOrder="60" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Customer groups to tags</label>
                    <comment>Customer group will be sent as an Ecomail tag.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_locale" type="select" translate="label comment" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Store locale custom field</label>
                    <comment>Store locale will be sent as MAGENTO_LANGUAGE custom field.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="tracking" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Behavior Tracking</label>
                <depends>
                    <field id="ecomail/general/enabled">1</field>
                </depends>
                <field id="enabled" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="respect_cookie_consent" type="select" translate="label comment" sortOrder="15"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Respect Magento cookie consent</label>
                    <comment>When Magento Cookie Restriction Mode is enabled, Ecomail browser scripts load only after the visitor accepts cookies.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="app_id" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>App ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/tracking/enabled">1</field>
                    </depends>
                </field>
                <field id="product_view" type="select" translate="label comment" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Track product views</label>
                    <comment>Send ECM_PRODUCT_VIEW events on product detail pages.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/tracking/enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="form_enabled" type="select" translate="label" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable Ecomail form widget</label>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="form_id" type="text" translate="label comment" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Ecomail Form ID</label>
                    <comment>The js.id value from the Ecomail form widget code.</comment>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/tracking/form_enabled">1</field>
                    </depends>
                </field>
                <field id="form_account" type="text" translate="label" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Ecomail Account Name</label>
                    <depends>
                        <field id="ecomail/general/enabled">1</field>
                        <field id="ecomail/tracking/form_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="logs" translate="label comment" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Logs</label>
                <comment>Recent Ecomail API requests. Payloads and API keys are not stored.</comment>
                <field id="api_log" type="label" translate="label" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Recent API Requests</label>
                    <frontend_model>Ecomail\Ecomail\Block\System\Config\Form\Field\ApiLog</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
