<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\HTTP\Adapter\Curl" type="Ecomail\Ecomail\Model\HTTP\Adapter\Curl" />
    <preference for="Magento\Framework\HTTP\ZendClient" type="Ecomail\Ecomail\Model\HTTP\ZendClient" />
    <type name="Ecomail\Ecomail\Model\QuoteManager">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="ecomailSubscriber" type="Ecomail\Ecomail\Plugin\Newsletter\Model\Subscriber" />
    </type>
    <type name="Magento\Newsletter\Model\SubscriptionManager">
        <plugin name="ecomailSubscriptionManager" type="Ecomail\Ecomail\Plugin\Newsletter\Model\SubscriptionManager" />
    </type>
</config>
